.font-style-weight:first-of-type {
    font-style: normal;
    font-weight: 300;
}

.font-style-weight:nth-child(2) {
    font-style: inherit;
    font-weight: 500;
}

.font-style-weight:nth-child(3) {
    font-style: unset;
    font-weight: 800;
}

.font-style-weight:nth-child(4) {
    font-style: italic;
    font-weight: 900;
}

.font-style-weight:last-of-type {
    font-style: oblique;
    font-weight: bold;
}